[Desktop Entry]
Name=Lazyscripts
Comment=Stupid Scripts Manager
Exec=glzs -a
Icon=lazyscripts
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;System;
